[Unit]
Description=WiFi Connect App Service
After=network-online.target

[Service]
User=root
WorkingDirectory=/root/miniprintbox/install
ExecStart=/usr/bin/python3.8 /root/miniprintbox/install/wificonnect/app2.py
Restart=always

[Install]
WantedBy=multi-user.target